<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="container">

            <img src="MultiMedia_Asset/Favicon.png" alt="Logo" class="logo">
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projectsEJS">Projects</a></li>
                <li><a href="/servicesEJS">Services</a></li>
                <li><a href="/aboutEJS">About Me</a></li>
                <li><a href="/contactEJS">Contact</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>