<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header"); %>
</head>

<body>
    <%- include("../partials/navigation");%>
        <div class="about-img">
            <div>
                <h1>Dhruvil Rangani</h1>
                <p>I am an aspiring software engineer. I am keen in working as a mobile application developer. I am
                    interested in android development. I am also passionate about knowing the business side of the tech
                    industry. My tech skills include technologies like Java, C#, Javascript, HTML, CSS, ExpressJs and
                    NodeJS. I believe in working together as a unit to make an impact in this field.</p>
                    <br><br>
                    <div class="pdf-container">
                         <a class="pdf-link" href="MultiMedia_Asset/Dhruvi_CO-OP Resume.pdf" target="_blank">View Resume</a>
                    </div>
            </div>

            <img src="MultiMedia_Asset/Photo.JPEG" alt="photo">
        </div>
</body>

</html>