<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header"); %>
</head>

<body>
    <%- include("../partials/navigation");%>
        <h1>Welcome To Dhruvil Rangani's Page</h1>
        <h2>Mission Statement:</h2>
        <p>The purpose of this site is to demonstrate my knowledge of Express JS and using Node.JS technology and being
            honest also to get good grades. Anyway, I have created webpages and provided their links in the navigation
            bar so that pages are accessible and you can see related information of me
            <br>This site is made as per the instruction given in assignment.
        </p>
</body>

</html>