<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header"); %>
</head>
<body>
    <%- include("../partials/navigation");%>
    <main>
        <section class="service">
            <img src="MultiMedia_Asset/Programming.jpg" alt="General Programming">
            <h2>General Programming</h2>
            <p>We offer a wide range of programming services to meet your software development needs.</p>
        </section>
        <section class="service">
            <img src="MultiMedia_Asset/Web-Development.jpg" alt="Web Development">
            <h2>Web Development</h2>
            <p>We create stunning and responsive websites tailored to your business or personal requirements.</p>
        </section>
        <section class="service">
            <img src="MultiMedia_Asset/Mobile App Dev.jpg" alt="Mobile Apps">
            <h2>Mobile Apps</h2>
            <p>Focus on designing user-friendly and visually appealing user interfaces and experiences.</p>
        </section>
        <section class="service">
            <img src="MultiMedia_Asset/UI-UX.png" alt="UI/UX Design">
            <h2>UI/UX Design</h2>
            <p>Our expert team develops mobile applications for iOS and Android platforms.</p>
        </section>
        <section class="service">
            <img src="MultiMedia_Asset/Database.png" alt="Database Development">
            <h2>Database Development</h2>
            <p> Develop and manage databases for businesses and organizations.</p>
        </section>
        <section class="service">
            <img src="MultiMedia_Asset/Testing.jpg" alt="Software Testing">
            <h2>Software Testing</h2>
            <p> Offer quality assurance and software testing services to ensure bug-free software.</p>
        </section>
    </main>
</body>
</html>